.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 2rem;
}

.nav-button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #007bff;
}

.navbar-links a.active {
    color: #007bff;
    font-weight: bold;
}

.logout-button {
    transform: translateY(-6px);
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #0056b3;
}

.navbar-links > * {
    display: flex;
    align-items: center;
    height: 100%;
}